.my-input {
    padding-left: 5px;
    padding-right: 5px;
}

.my-left-col {
    margin: 0;
}

.very-center {
    vertical-align: middle;
    text-align: center;
}

.my-middle {
    vertical-align: middle;
}

.my-right {
    text-align: right; 
}

.my-select {
    padding-top: 4px; 
    padding-bottom: 4px; 
}

.header-add-position {
    background-color: #e7e7e7;
    display: flex;
    margin-top: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
    padding: 0.3rem 2.5rem;
    text-align: center;
}

#add-position-buttons {
    padding-top: 0.5rem;
}

.no-padding {
    padding: 0;
}

label {
    margin-bottom: 0;
}

.required:after {
    content:"*";
  }


@media(min-width: 768px) {
    .btn-responsive {
        padding:4px 9px;
        font-size:110%;
        line-height: 1.2;
    }

    .my-select {
        padding-top: 8px; 
        padding-bottom: 8px; 
    }
}

@media (max-width: 767.98px) {
    .small-text {
        font-size: 90%;
    }

    .btn-responsive {
        font-size: 0.8rem;
    }

}
